#body-index{
   background-color: #2A8BE4;
}

#body-um{
   background-color: #F24040;
}

#body-dois{
   background-color: #FFC34D;
}

h3, h5, h4{
   text-shadow: black 0.1em 0.1em 0.2em
}

.mt-150{
   margin-top: 150px;
}

.numbers{
   font-size: 20pt;
}

p{
   text-align: justify;
   font-size: 14pt;
}


